/target

.DS_Store
.developer
.env
.cursorrules
node_modules
test-ledger

# Debugging
program_errors.json
test_errors.output
tests.output
integration_tests/tests/fixtures/ncn_program.so
notes.md

integration_tests/tests/fixtures/ncn_program-keypair.json

lcov.info

credentials/

.DS_Store

integration_tests/tests/fixtures/local_validators.txt
integration_tests/tests/fixtures/keys/
integration_tests/tests/fixtures/tda-accounts/

# Debugging
integration_tests/tests/fixtures/ncn_program.so

integration_tests/tests/fixtures/ncn_program-keypair.json
